extends layout 

block content


    div.location-container
        div.title-container
            h2.location-title= title
        each val in items
            div.item-container
                h3.item-title #{val.name}
                div.item-table
                    div.item-table-row
                        h4.label PORTIONS:
                        p.table-content #{val.remainingPortions} / #{val.startingPortions}
                    div.item-table-row
                        h4.label LOCATION:
                        p.table-content #{val.location.name}
                    div.item-table-row
                        h4.label MEAL:
                        p.table-content #{val.meal}
                    div.item-table-row
                        h4.label DATE ADDED:
                        p.table-content #{val.dateAdded}
                    div.item-table-row
                        h4.label EAT BY:
                        p.table-content #{val.eatByDate}
                    div.item-table-row
                        h4.label NOTES:
                        p.table-content #{val.notes}
                button 
                    h3 Eat Portion



//-     div.item-container
//-       h3.item-title Chicken Adobo
//-       div.item-table
//-         div.item-table-row
//-           h4.label PORTIONS:
//-           p.table-content 4 / 6
//-         div.item-table-row
//-           h4.label MEAL:
//-           p.table-content Dinner 
//-         div.item-table-row
//-           h4.label DATE ADDED:
//-           p.table-content Mon, 17th May 
//-         div.item-table-row
//-           h4.label EAT BY:
//-           p.table-content Wed, 19th May 
//-         div.item-table-row
//-           h4.label NOTES:
//-           p.table-content Need to cook more rice and steam some vegetables.
//-       button 
//-         h3 Eat Portion

//-   div.location-container
//-     h2.location-title Freezer
//-     div.item-container
//-       h3.item-title Chicken Adobo
//-       div.item-table
//-         div.item-table-row
//-           h4.label PORTIONS:
//-           p.table-content 4 / 6
//-         div.item-table-row
//-           h4.label MEAL:
//-           p.table-content Dinner 
//-         div.item-table-row
//-           h4.label DATE ADDED:
//-           p.table-content Mon, 17th May 
//-         div.item-table-row
//-           h4.label EAT BY:
//-           p.table-content Wed, 19th May 
//-         div.item-table-row
//-           h4.label NOTES:
//-           p.table-content Need to cook more rice and steam some vegetables.
//-       button 
        //- h3 Eat Portion