extends layout 

block content

    div.location-container
        div.title-container
            h2.location-title= title

        if items.length === 0
            div.form-container(style="text-align: center")
                h2(style="margin-bottom: 0.5em") Nothing here!
            div.title-container

        each val in items
            - let altFill = "";
            - let altFillLight = "";
            - let altStroke = "";
            - let highlightToday = "";
            - if (val.freshness < 0) {altFill = "expired-fill"; altFillLight = "expired-fill-light"; altStroke = "expired-stroke";}
            - if (val.freshness < 24 && val.freshness >= 0) {altFill = "today-fill"; altFillLight = "today-fill-light"; altStroke = "today-stroke";}
            div(class=`item-container ${altStroke}`)
                div.item-header
                    h3.item-title #{val.name}
                        if (val.freshness < 0)
                            span.italic  (Past eat by date)
                    a(href=`/item/${val.id}`)
                        img.pencil(src='/svg/pencil2.svg')
                div.item-table
                    div.item-table-row
                        h4.label PORTIONS:
                        div.table-content
                            - let fullCircles = val.remainingPortions 
                            - let emptyCircles = val.startingPortions - val.remainingPortions
                            while fullCircles > 0
                                div(class=`portion-circle-full ${altFill}`)
                                - fullCircles--
                            while emptyCircles > 0
                                div(class=`portion-circle-empty ${altStroke}`)
                                - emptyCircles--
                    div.item-table-row
                        h4.label LOCATION:
                        p.table-content #{val.location.name}
                    div.item-table-row
                        h4.label MEAL:
                        p.table-content #{val.meal}
                    div.item-table-row
                        h4.label DATE ADDED:
                        p.table-content #{val.dateAdded_med}
                    div.item-table-row
                        h4.label EAT BY:
                        p(class=`table-content`) #{val.eatByDate_med}
                    div.item-table-row
                        h4.label NOTES:
                        p.table-content #{val.notes}
                form(method='POST' action='/eatportion')
                    input(type="hidden" name="itemId" value=val.id)
                    input(type="hidden" name="remainingPortions" value=val.remainingPortions)
                    button.but-main(type="submit")
                        span.but-shadow
                        span(class=`but-edge ${altFill}`)
                        span(class=`but-front ${altFillLight}`)
                            h3 Eat Portion
